@mixin borderTest {
    border: 1px solid red;
    * {
        border: 1px solid blue;
        * {
            border: 1px solid green;
            * {
                border: 1px solid yellow;
                * {
                    border: 1px solid black;
                }
            }
        }
    }
}

@mixin fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

@mixin mediaquery($max-width: 1440px, $orientation: false) {
    @if $orientation {
        @media screen and (max-width: $max-width) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media screen and (max-width: $max-width) {
            @content;
        }
    }
}
